*.swp
*env/
*__pycache__/
BACK-END/__pycache__/
BACK-END/LeafLife/__pycache__/
BACK-END/LeafLife/api/__pycache__/
BACK-END/LeafLife/api/views/__pycache__/
BACK-END/LeafLife/api/migrations/__pycache__/
BACK-END/LeafLife/api/migrations/0*
*lock.json
*/node_modules/
*db.sqlite3
BACKEND/LeafLife/api/test.rest
.env